section#about h2 {
    text-align: center;
}

button.btn.btn-success {
    margin-bottom: 10px;
}

.centrerbutton {
    text-align: center;
}

p.m-0.text-center.text-white a {
    color: #fff;
}

p.m-0.text-center.text-white a:hover {
    color: #4CAF50;
    text-decoration: none;
}

a.navbar-brand img {
    width: 50px;
}

.bg-dark {
    background-color: #1b1f22!important;
}

footer.py-5.bg-dark {
    /* height: 80px !important; */
    display: block;
    padding: 0 !important;
    bottom: 0 !important;
    position: fixed;
    width: 100%;
}

section#servicos {
    padding-top: 50px !important;
    padding-bottom: 10px !important;
}

section#servico h2,
section#servicos h2 {
    font-size: x-large;
}

button.btn.btn-success a {
    color: #fff !important;
}


button.btn.btn-success a:hover {
    color: #fff !important;
    text-decoration: none;
}

.emailsm {
    width: 50%;
    float: right;
    line-height: 72px;
}

.deaftech {
    padding: 10px;
    background: #ffffff;
    width: 50%;
    float: left;
    border: 1px solid #000;
}

.deaftech p.m-0.text-center.text-white a {
    color: #000 !important;
}

@media (min-width: 400px) and (max-width: 1000px) {
    section#servico {
        margin-bottom: 200px;
    }
  }
  
@media (min-width: 100px) and (max-width: 400px) {
    section#servico {
        margin-bottom: 200px;
    }
  }